.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: hidden;
    z-index: 10000;
<<<<<<< HEAD
    border-right: 1px solid #333;
=======
    border-right: 1px solid #111;
>>>>>>> f0ff9b2 (first)
}
