.sns {
    position: fixed;
    width: 258px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px 0 10px;
    background-color: #11111125;
    backdrop-filter: blur(20px);
}

.sns > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}

.sns > li {
    display: inline-block;
}

.sns > li > a {
    padding: 5px 7px;
    display: inline-block;
}
