.modal__panel {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 3);
  margin: 1rem;
  border-radius: 15px;
  border-top: 1px solid rgba(128, 128, 128, 64);
  border-bottom: 1px solid rgba(128, 128, 128, 64);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  animation: slideIn 0.3s ease-out;
  color: white;
  z-index: 1;
}

.modal__header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border-bottom: 1px solid rgba(128, 128, 128, 64);
}

.comment__list {
  flex: 1;
  overflow-y: auto;
  padding: 0.6rem;
}

.comment__list::-webkit-scrollbar {
  width: 4px;
}

.comment__list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.comment__list::-webkit-scrollbar-track {
  background: transparent;
}

.close__button {
  position: absolute;
  right: 16px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
