.modal__panel {
  position: absolute;
  top: 30%;
  width: 90%;
  height: 30%;
  background-color: rgba(0, 0, 0, 3);
  margin: 1rem;
  border-radius: 15px;
  max-width: 356px;
  max-height: 156px;
  border-top: 1px solid rgba(128, 128, 128, 64);
  border-bottom: 1px solid rgba(128, 128, 128, 64);

  animation: slideIn 0.3s ease-out;
  color: white;
  z-index: 1;
}

.modal__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 64);
}

.modal__header > h3 {
  margin: 8px 0px;
}

.close__button {
  position: absolute;
  right: 16px;
}

.share__content {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share__input {
  width: 75%;
  padding: 4px 0px;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
