.comment__container {
  display: flex;
  flex-direction: row;

  margin-bottom: 1.25rem;
}

.user__comment__img {
  border-radius: 50%;
  margin-right: 8px;
  text-decoration: none;
}

.author {
  text-decoration: none;
}

.author__comment:hover {
  color: white;
  filter: drop-shadow(0 0 0.5px rgba(212, 212, 212, 0.7));
}

.comment__author__img {
  display: flex;
  align-items: center;
}

.main__container {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.author__comment {
  color: rgb(82, 82, 82);
  margin-right: 8px;
}

.publishTime {
  color: rgb(119, 119, 119);
}

.comment__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
