.comment__container {
  display: flex;
  flex-direction: row;

  margin-bottom: 1.25rem;
}

.user__comment__img {
  border-radius: 50%;
  margin-right: 8px;
  text-decoration: none;
}

.author {
  text-decoration: none;
}

.main__container {
  display: flex;
  flex-direction: column;
}

.author__comment {
  color: rgb(82, 82, 82);
  margin-right: 8px;
}

.publishTime {
  color: rgb(119, 119, 119);
}
