.channel__container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.channel__thumbnail {
  display: flex;
  align-items: center;
  margin: 4px 8px 8px 0px;
  width: 180px;
  height: 180px;
}

.channel__img {
  padding: 12px 12px;
  border-radius: 100%;
}

.channel__text {
  display: flex;
  flex-direction: column;
}

.channel__info {
  display: flex;
  width: 100%;
  gap: 10px;
}

.channel__description {
  width: 100%;
  max-width: 1200px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscribe__button > button {
  height: 36px;
  border: none;
  border-radius: 18px;

  padding: 0 16px;
  cursor: pointer;
}
