.search__inner {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 17px 40px;
}

.search__inner > input {
  background-color: #111;
  border: 1px solid #333;
  width: 100%;
  padding: 14px 45px;
  border-radius: 40px;
  font-size: 16px;
  color: white;
}

.search__inner > label {
  width: 24px;
  height: 24px;
  background-image: url(../../public/search.svg);
  position: absolute;
  left: 53px;
  top: 28px;
  background-size: cover;
}

.search__inner > button {
  width: 80px;
  border-radius: 40px;
}

.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: none;
}

@media (max-width: 1024px) {
  .link {
    display: block;
  }
}
