.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  width: 100%;
  height: 276px;
  padding: 2px 5px 40px 5px;
  margin: 0px 4px;
}

.container h3 {
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;

  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.thumbnail__img {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 5px;
}

.thumbnail__img a > img {
  border: 1px solid #181818;
  border-radius: 15px;
}

.thumbnail__img a > img:hover {
  color: white;
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 3px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

.info__content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 14px;

  height: 100%;
}

.info__content > a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.thumbnail__img > a > img {
  width: 100%;
  height: 160px;
}

.channel__img {
  display: flex;
  align-items: center;
}

.channel__img img {
  border-radius: 100%;
  margin-right: 0.875rem;
}

.content__author {
  color: #666;
  font-size: 0.875rem;
  font-weight: bold;

  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content__title {
  height: 42px;
}

.content__area {
  display: flex;
  flex-direction: column;
}

.dot {
  margin: 0 4px;
}
.preview__info {
  display: flex;
  flex-direction: row;
  color: #666;

  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info__container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 640px) {
  .info__container {
    max-width: 282px;
    justify-content: center;
  }
}
