.home {
    width: 100%;
    color: white;

    padding: 0px 12px;
}

.youtuber {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(18% - 4px);
    overflow-x: hidden;
}

.youtuber__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 128px;
    height: auto;

    gap: 8px;
}

.youtuber__profile > img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
}

.youtuber__profile > span {
    text-align: center;
}

.swiper__section {
    position: relative;
    overflow: hidden;
}

.swiper__section > section {
    overflow-x: auto;
}
