.player {
  background-color: #181818;
}

.player__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(10px) brightness(0.5);
  z-index: 0;
}

.player__foreground {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.player {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 12 / 16; /* 모바일 vertical 비율 유지 */

  padding: 0px 4px;
}
