.shorts__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 80%;
  overflow: hidden;

  background-color: black;
}
.shorts__container {
  position: relative;
  height: 100%;

  padding: 0px 24px;
}

.shorts__controls {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.next {
  position: absolute;
  top: 1rem;
}

.prev {
  position: absolute;
  bottom: 1rem;
}
