.actions__container {
  position: absolute;
  right: 0.125rem;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  z-index: 2;
}

@media (max-width: 768px) {
  .actions__container {
    right: 0.6rem;
    gap: 12px;
  }
}

.action__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.button__text {
  font-size: 0.725rem;
}
